.input {
  @include padding-rem(12, 35, 12, 10);
  @include font-size(18, 400, 22px);
  background-color: $gray--lightest;
  border: 1px solid #fff;
  border-radius: 3px;
  color: $color-text-black;

  &__wrapper {
    flex-basis: 370px;
    position: relative;
    text-align: center;
  }

  &__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
  }

  &__file-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__file-button-text {
    line-height: 1;
    margin-top: 1px;
    word-break: break-word;
  }

  &__file-button {
    width: 100%;
    max-width: 370px;
    @include padding-rem(12, 5, 12, 5);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: $color-text-black;
    @include font-size(15, 600, 18px);
    text-transform: uppercase;
    border: 2px solid $color-secondary;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      background-color: $color-secondary;
    }
  }

  &::placeholder {
    color: initial;
  }
}
