.splash {
  @include padding-rem(203, 0, 200, 0);
  position: relative;
  z-index: 1;
  background: url("../images/splash-bg.png");
  background-size: cover;
  background-position: -10px 0px;

  @include tablet {
    @include padding-rem(150, 0, 80, 0);
  }

  &__title {
    max-width: 814px;
    margin-bottom: 88px;
    @include font-size(48, 900, 58px);
    text-transform: uppercase;
    color: $color-text-black;

    @include tablet {
      @include font-size(24, 900, 32px);
      margin-bottom: 45px;
    }

    &-highlight {
      color: $color-secondary;
    }
  }

  &__description {
    max-width: 814px;
    @include font-size(20, 400, 24px);

    @include tablet {
      @include font-size(16, 400, 22px);
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;

    @include phone {
      flex-direction: column;
      row-gap: 15px;
    }
  }
}

.description {
  &__title {
    display: block;
    margin-bottom: 10px;
  }

  &__list {
    margin-bottom: 80px;
    list-style-type: none;

    @include tablet {
      margin-bottom: 40px;
    }

    &-item {
      margin-bottom: 5px;

      &:before {
        content: "-";
        padding: 0 7px;
      }
    }
  }
}
