.menu {
  @include large {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    padding: 8rem 3rem;
    height: 100%;
    background-color: $color-main;
    transition: 0.3s all;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    gap: 60px;
    row-gap: 15px;

    @include large {
      flex-direction: column;
    }

    &-link {
      @include font-size(13, 600, 16px);
      text-decoration: none;
      text-transform: uppercase;
      color: $color-text-white;

      &:hover {
        color: $color-secondary;
      }
    }

    &-link--active {
      color: $color-secondary;
    }
  }
}

.is-open .menu {
  display: flex;
  max-width: 250px;
  right: 0;
  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}
