.burger {
  transition: 0.5s all;
  display: none;

  @include large {
    display: block;
    z-index: 10;
  }

  &__line {
    width: 35px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.is-open {
  .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger__line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .burger__line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}
