$gray: #6f6d7b;
$gray--light: #bbbbbb;
$gray--lightest: #dfdfe1;

$color-main: #272733;
$color-main--light: #3d4050;
$color-secondary: #3e9cdc;
$btn-main-bg: #3e9cdc;
$btn-main-border: #fff;
$color-text-white: #fff;
$color-text-gray: #c3c3c3;
$color-text-black: #000;
