.select {
  @include font-size(18, 400, 22px);
  background-color: $gray--lightest;
  border: 1px solid #fff;
  border-radius: 3px;
  color: $color-text-black;
  @include padding-rem(12, 35, 12, 10);

  &__option {
    background-color: $color-main;
    &:last-child {
      border-radius: 3px;
    }
  }

  &::placeholder {
    color: initial;
  }
}

.nativejs-select {
  flex-basis: 370px;
  position: relative;
  @include font-size(18, 400, 22px);

  &__placeholder,
  &__option {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
  }

  &__options {
    height: 180px;
    border: 1px solid $color-main--light;
    overflow-y: scroll;
    border-radius: 0 0 3px 3px;

    /* width */
    &::-webkit-scrollbar {
      width: 7px;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      background: $color-main--light;
      border-radius: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: $color-secondary;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color-secondary;
    }
  }

  &__placeholder {
    width: 100%;
    @include padding-rem(12, 35, 12, 10);
    background-color: $gray--lightest;
    border: 1px solid #fff;
    border-radius: 3px;
    color: $color-text-black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:after {
      content: "";
      width: 9px;
      height: 8px;
      position: absolute;
      right: 16px;
      top: 45%;
      -webkit-mask-image: url("../images/svg/arrow-ico.svg");
      mask-image: url("../images/svg/arrow-ico.svg");
      background-color: #0c0c0c;
      transform: rotateX(180deg);
      transition: 0.3s all;
    }
  }

  &__placeholder img {
    margin-right: 5px;
  }

  &__placeholder_fixed {
    padding-right: 5px;
    color: #7ca95c;
  }

  &__dropdown {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    transform: translateY(100%);
    left: 0;
    right: 0;
    bottom: 1px;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
  }

  &__option {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: $color-main;
    color: $color-text-white;

    &:first-child {
      display: none;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  &__option img {
    margin-right: 10px;
  }

  &_active {
    border-radius: 3px 3px 0 0;
  }

  &_active &__placeholder:after {
    width: 9px;
    height: 8px;
    position: absolute;
    right: 16px;
    top: 45%;
    -webkit-mask-image: url("../images/svg/arrow-ico.svg");
    mask-image: url("../images/svg/arrow-ico.svg");
    background-color: #fff;
    transform: rotateX(360deg);
    transition: 0.3s all;
  }

  &_active &__dropdown {
    visibility: visible;
    opacity: 1;
    border-radius: 0 0 3px 3px;
  }

  &_active &__placeholder {
    background-color: $color-main--light;
    color: $color-text-white;
    border-color: $color-main--light;
  }

  &__search {
    padding: 5px;
  }

  &__search-inp {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
  }

  &__placeholder-value {
    display: flex;
    align-items: center;
  }
}
